<div class="container">
    <div class="row">
        <section class="main-header"></section>
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <p class="text-center">メニュー表</p>
                </div>
                <div class="panel-body">
                    <div class="list-group"></div>
                </div>
            </div>
        </div>
        <div class="col-md-7">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <p class="text-center"><%= @topic.user.name %>が投稿した詳細です。</p>
                </div>
                <div class="panel-body">
                    <div class="list-group"><%= @topic.content %><br>
                      <%= image_tag @topic.image, :size => '400x300' %>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-2">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <p class="text-center">友達リスト</p>
                </div>
                <div class="panel-body">
                    <div class="list-group">
                        <% @users.each do |user| %>
                        <li><%= user.name %></li>
                        <% end %>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
